[REDDIT]
CLIENT_ID =
CLIENT_SECRET =
PASSWORD =
USER_NAME =
SUBREDDIT =
REMOVE_SUBMISSIONS =
MINIMUM_ACCOUNT_AGE =
MINIMUM_COMMENT_KARMA =
USER_AGENT = "BlotterTrax /r/listentothis submission bot"

[YOUTUBE]
ENABLED =
KEY =
VIEW_THRESHOLD =

[LASTFM]
ENABLED =
KEY =
SECRET =
USERNAME =
PASSWORD =
SCROBBLE_THRESHOLD =
LISTENER_THRESHOLD =

[SOUNDCLOUD]
ENABLED =
KEY =
PLAY_THRESHOLD =

[MUSICBRAINZ]
ENABLED =
USER =
PASSWORD =