[REDDIT]
CLIENT_ID =
CLIENT_SECRET =
PASSWORD =
USER_NAME =
SUBREDDIT =
REMOVE_SUBMISSIONS =
MINIMUM_ACCOUNT_AGE =
MINIMUM_COMMENT_KARMA =
USER_AGENT = "BlotterTrax /r/listentothis submission bot"

[YOUTUBE]
KEY =
VIEW_THRESHOLD =

[LASTFM]
KEY =
SECRET =
USERNAME =
PASSWORD =
SCROBBLE_THRESHOLD =
LISTENER_THRESHOLD =

[SOUNDCLOUD]
KEY =
PLAY_THRESHOLD =

[MUSICBRAINZ]
USER =
PASSWORD =