[REDDIT]
CLIENT_ID =
CLIENT_SECRET =
PASSWORD =
USER_NAME =
SUBREDDIT =
REMOVE_SUBMISSIONS =
MINIMUM_ACCOUNT_AGE =
MINIMUM_COMMENT_KARMA =
USER_AGENT = "BlotterTrax /r/listentothis submission bot"

[YOUTUBE]
KEY =

[LASTFM]
KEY =
SECRET =
USERNAME =
PASSWORD =

[SOUNDCLOUD]
KEY =

[MUSICBRAINZ]
USER =
PASSWORD =